body {
  background-color: lightblue;
}

form {
  color: green;
}
.loginform {
  
  background-color:yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  /* -1/2 width */
  margin-top: -10px;
}
