body, html {
  height: 100%;
  margin: 0;
  background-image: url("https://raw.githubusercontent.com/Fcse19-031/runbw/main/src/main/webapp/WEB-INF/view/images/pic.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
   border-radius: 5px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 10px;
  text-align:center;
}
form {
  color: green;
}
.loginform {
  
  background-color:yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  /* -1/2 width */
  margin-top: -10px;
}
.paragh {
  width: 100%;
    height: 20%;
   
    position:absolute;
    bottom:0;
}
p {
 color:brown;

}
h1 {
    color:green;

}
